* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
     background-color:#dda15e;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height : 68vmin;
    width: 68vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    background-color: #bc6c25;
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 20%;
    box-shadow: 0 0 2rem rgba(0,0,0,0.5);
    color: red;
}
