* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
     background-color:#dda15e;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height : 68vmin;
    width: 68vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.New_game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
.msg{
    font-size: 10vmin;
}
.box {
    background-color: #bc6c25;
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 20%;
    box-shadow: 0 0 2rem rgba(0,0,0,0.5);
    color: red;
    font-size: 10vmin;
}
.reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
.msg_container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.hide{
    display: none;
}
